
/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans",Arial, sans-serif;
    box-sizing: border-box;
    font-size: 1.1vw;

}

* h1{
  font-size: 2.3vw;
}

* h2{
  font-size: 1.5vw;
}

header {
    height: 15vh;
}

header nav ul {
    list-style: none;
    display:inline-flex;
    margin-top: 2%;
    margin-bottom: 1.5%;
    gap: 40%;
}

a{
    text-decoration: none;
    color: #FBFFFF;
}

p{
    margin-bottom: 2%;
}
    
.nav-right {
    margin-left: 40%;
}
.nav-left {
    margin-left: 2%;
    color: #FBFFFF;
}

section {
    height: 70vh;
    
}

.short_section {
    height: 35vh;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#intro {
    background-size: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

#projects_list{
    background-size: 100%;
    background-color: white;
    color: black;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 2%;
    max-width: 100%;
    overflow-y: scroll;
}

.image-cover {
    background: white;
    color: black;
    width: 20vw;
    height: 17vw;
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
}

.columns {
    display: flex;
}

.column-2-1 {
    flex: 10%;
    margin-left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8C4B6;
    border-radius: 10%;
}

.column-2-2 {
flex: 60%;
padding: 5%;
background-color: #D8C4B6;
margin:30px;
border-radius: 10px;
margin-right: 7%;  
}

.column-2_3-1 {
    flex: 25%;
    margin: 4%;
    margin-left: 5%;
}

.column-2_3-2 {
    line-height:1.7;
    flex: 60%;
    text-align: left;
    margin-top: 4%;
    margin-left: 5%;
}

.column-2_3-2 a {
    color: black;
}

#sofia_main {
    height: 30vw;  
    border: 10px solid white;
    border-radius: 10%;
}

body {
    margin: 0;
    text-align: center;
    background-color: #213555;
    color: black;
}
