
/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans",Arial, sans-serif;
    box-sizing: border-box;
    font-size: 1.1vw;

}

* h1{
  font-size: 2vw;
}

* h2{
  font-size: 1.5vw;
}

header {
    height: 15vh;
}

header nav ul {
    list-style: none;
    display:inline-flex;
    margin-top: 2%;
    margin-bottom: 1.5%;
    gap: 30%;
}

a{
    text-decoration: none;
    color: #FBFFFF;
}
    
.nav-right {
    margin-left: 40%;
}
.nav-left {
    margin-left: 0%;
    color: #FBFFFF;
}

section {
    height: 70vh;
    overflow-y: scroll;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    background-size: 100%;
    background-color: F5EFE7;
    background-blend-mode: multiply;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    border: 1px solid #FAEFDB;
}

.columns {
    display: flex;
}

/* Create two equal columns that float next to each other */
.column-2-1 {
    flex: 10%;
    margin-left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10%;
  }

  .column-2-2 {
    flex: 60%;
    padding: 5%;
    background-color: #D8C4B6;
    margin:30px;
    border-radius: 10px;
    margin-right: 7%;  
  }

#sofia_main {
    height: 30vw;  
    border: 10px solid #FAEFDB;
    border-radius: 10%;
}


body {
    margin: 0;
    text-align: center;
    background-color: #213555;
    color: black;
}